- name: Build basic SPB service command
  set_fact:
    spb_cmd: "service {{ service_id }} spb isid {{ isid }} bvlan {{ bvlan }}"

- name: Apply SPB service
  ale.aos8.aos8_config:
    lines:
      - "{{ spb_cmd }}"

- name: Save configuration
  ale.aos8.aos8_config:
    lines:
      - "write memory flash-synchro"

