# --- Configure the SPB service only on the target device ---
- name: Configure SPB service
  ale.aos8.aos8_config:
    lines:
      - "service {{ service_id }} spb"
      - "service {{ service_id }} spb isid {{ isid }} bvlan {{ bvlan }}"
  when: inventory_hostname == device

# --- Save Config only on this device ---
- name: Save SPB configuration
  ale.aos8.aos8_config:
    lines:
      - "write memory flash-synchro"
  when: inventory_hostname == device

