- meta: end_host
  when: role != "SPB_SAP"

# --- Create the SAP on the port ---
- name: Create the SAP on the port
  ale.aos8.aos8_config:
    lines:
      - "service access port {{ interface }} sap {{ service_id }}.{{ encapsulation }}"

# --- Set SAP admin state ---
- name: Set SAP admin state
  ale.aos8.aos8_config:
    lines:
      - "service sap admin-state {{ 'enable' if admin_state|bool else 'disable' }}"

# --- Save configuration ---
- name: Save configuration
  ale.aos8.aos8_config:
    lines:
      - "write memory flash-synchro"

