# --- Create the SAP on the port ---
- name: Create the SAP on the port
  ale.aos8.aos8_config:
    lines:
      - "service access port {{ interface }}"
  when: inventory_hostname == device

# --- Assign service to SAP for each encapsulation ---
- name: Assign service {{ service_id }} to SAP port {{ interface }}
  ale.aos8.aos8_config:
    lines:
      - "service {{ service_id }} sap port {{ interface }}{{ item }}"
  loop: "{{ encapsulations }}"
  when: inventory_hostname == device

# --- Save configuration ---
- name: Save configuration
  ale.aos8.aos8_config:
    lines:
      - "write memory flash-synchro"
  when: inventory_hostname == device

