---
- name: Nautobot Webhook SPB Interface Config
  hosts: all
  gather_facts: no
  connection: network_cli
  vars:
    ansible_network_os: ale.aos8.aos8
    ansible_remote_tmp: /tmp/.ansible/tmp
  ignore_errors: true

  roles:
    - { role: updates_from_nautobot/SPB_config_L2 }

